.post .post-slides {
  margin: -0.5em 0em 1em 0em;
  display: block;
}

.posts.classes .slides {
  text-transform: lowercase;
  color: #666;
}
.posts.classes .post-date {
  display: inline;
  font-size: 75%;
}

.reveal pre code {
  padding: 30px;
}

.reveal h1 {
  word-wrap: normal;
  -webkit-hyphens: none;
}

pre {
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
}

h2 {
  margin-top: 2em;
  border-bottom: 1px solid #ddd;
}

aside {
  font-size: 70%;
  padding: 1em 2em;
  background-color: #fbfff2;
  color: #80837a;
}

aside strong:first-child {
  display: block;
  color: #80837a;
  margin: 1em 0em;
}

aside.objective {
  background-color: transparent;
  border-left: 3px solid #aa759f;
  padding-top: 0em;
  padding-bottom: 0em;
  color: inherit;
}

aside.objective strong:first-child {
  margin: 0.5em 0em;
  color: inherit;
}

q {
  font-style: italic;
}

.inline-code,
.inline-code .highlight {
  display: inline;
  margin: 0px;
}

.inline-code .highlight pre {
  display: inline-block;
  padding: .25em 0.5em;
}

.section-reference {
  position: absolute;
  display: none;
}

.section-reference i {
  font-size: 15px;
  vertical-align: middle;
  margin-left: -34px;
  margin-bottom: 4px;
  padding: 4px 12px;
  color: #000;
}

.content h2:hover .section-reference,
.content h3:hover .section-reference,
.content h4:hover .section-reference,
.content h5:hover .section-reference,
.content h6:hover .section-reference {
  display: block;
}
