.post .post-slides {
  margin: -0.5em 0em 1em 0em;
  display: block;
}

.posts.classes .slides {
  text-transform: lowercase;
  color: #666;
}
.posts.classes .post-date {
  display: inline;
  font-size: 75%;
}

.reveal pre code {
  padding: 30px;
}

.reveal h1 {
  word-wrap: normal;
  -webkit-hyphens: none;
}

pre {
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
}

.conceptual-code pre {
  border: 2px dashed #f77;
}
.conceptual-code pre:before {
  content: "// warning: this code will not work.";
  display: block;
  color: #a44;
}

h2 {
  margin-top: 2em;
  border-bottom: 1px solid #ddd;
}

hr {
  margin: 0.4em 0em;
  border: none;
  border-bottom: 1px dashed #eee;
}

aside {
  font-size: 70%;
  padding: 1em 2em;
  background-color: #fbfff2;
  color: #80837a;
  max-height: 600px;
  overflow-y: auto;
}

aside strong:first-child {
  display: block;
  color: #80837a;
  margin: 1em 0em;
}

aside.objective {
  background-color: transparent;
  border-left: 3px solid #aa759f;
  padding-top: 0em;
  padding-bottom: 0em;
  max-height: none;
  color: inherit;
}

aside.objective strong:first-child {
  margin: 0.5em 0em;
  color: inherit;
}

aside strong,
aside h1,
aside h2 {
  color: inherit;
  font-size: 100%;
  font-weight: bold;
}

aside pre {
  font-size: 85%;
  background-color: rgba(255, 255, 255, 0.3);
}

aside blockquote {
  font-style: italic;;
  border-left-width: 0.15rem;
  border-left-color: rgba(0, 0, 0, 0.05);
}

q {
  font-style: italic;
}

.inline-code,
.inline-code .highlight {
  display: inline;
  margin: 0px;
}

.inline-code .highlight pre {
  display: inline-block;
  padding: .25em 0.5em;
}

.section-reference {
  position: absolute;
  display: none;
}

.section-reference i {
  font-size: 15px;
  vertical-align: middle;
  margin-left: -34px;
  margin-bottom: 4px;
  padding: 4px 12px;
  color: #000;
}

.content h2:hover .section-reference,
.content h3:hover .section-reference,
.content h4:hover .section-reference,
.content h5:hover .section-reference,
.content h6:hover .section-reference {
  display: block;
}

iframe {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}

.sass .err {
  color: inherit;
  background-color: inherit;
}

form.auth {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 2em;
  padding: 10px;
  width: 330px;
}

form.auth input {
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.15s, 0.15s;
  -webkit-transition-property: border-color, box-shadow;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  background-color: rgb(255, 255, 255);
  background-image: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 44px;
  line-height: 22px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  width: 300px;
}

form.auth input[name="username"] {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: -1px;
}

form.auth input[name="password"] {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

form.auth input:focus {
  z-index: 2;
}

form.auth button {
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;
  -webkit-user-select: none;
  background-color: rgb(66, 139, 202);
  background-image: linear-gradient(rgb(66, 139, 202) 0px, rgb(45, 108, 162) 100%);
  background-repeat: repeat-x;
  border: 1px solid rgb(43, 102, 154);
  border-radius: 6px;
  box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 45px;
  line-height: 23px;
  margin: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 300px;
}

form.auth button:hover {
  background-color: #2d6ca2;
  background-position: 0 -15px;
  border-color: #285e8e;
  background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
}

form.auth button:active {
  background-color: #2d6ca2;
  border-color: #2b669a;
  background-image:none;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
